@page "{handler?}"
@model IndexModel
@using System.Text
@using System.Collections.Generic
@using NetHub.Models.ViewModels
@{
    ViewData["Title"] = "Search page";
}
        <h2>Movies & TV-Shows</h2>
    <br />
    <form class="form-inline">
        <div class="form-group">
            <i class="fas fa-search"></i>
            <input type="text" class="form-control" placeholder="title" name="SearchTitle">
        </div>
        <div class="form-group">
            <select asp-for="SelectedGenre" asp-items="Model.Genres" class="form-control">
                <option value="">Genre</option>
            </select>
        </div>
        <div class="form-group">    
            <input type="text" class="form-control" placeholder="actor" name="SearchActor">
        </div>
        <div class="form-group">
            <select asp-for="SelectedYear" asp-items="Model.Years" class="form-control">
                <option value="">Year</option>
            </select>
        </div>
        <div class="form-group">
            <select asp-for="UserId" asp-items="@(new SelectList(Model.Users,"ID","CustName"))" class="form-control">
                <option value="">Choose User</option>
            </select>
        </div>
        @if (Model.SelectedUser != 0)
        {
            <div class="form-group">
                <select asp-for="History" asp-items="Model.SelectView" class="form-control">
                    
                </select>
            </div>
        }
        <button class="btn btn-primary" type="submit" value="Filter">Search</button>
    </form>
    <!-- @if (Model.CurrentUser?.Age >= 18)
    {
        <form class="form-inline" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="age limit" name="AgeLimit">
            </div>
            <button class="btn btn-primary" type="submit">Apply parental control</button>
        </form>
    } -->
    <table class="table table-striped table-hover" style="height: 100%;">
        <thead>
            <tr>
                <div class="row justify-content-between">
                <th scope="col" class="col-md-1"></th>
                <th scope="col" class="col-md-5"></th>
                
                </div>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Entries) {
                <tr>
                    <td>
                        <img src=@item.ImgPath alt="" height="300px">
                    </td>
                    <td style="height:100%;">
                        <div style="position:relative;height:100%;">
                            @if(item is SeriesVM)
                            {
                                <h4>@item.Title (@item.Year)</h4>
                            }
                            else
                            {
                                <h4>@item.Title</h4>
                            }
                            <p style="max-width: 500px;">@item.Description</p>
                            @if(item is MoviesVM)
                            {
                                <p style="max-width: 500px;"><b>Directors:</b> @item.DirectorString</p>
                            }
                            <p style="max-width: 500px;"><b>Stars:</b>
                            @{
                                int numActors = item.Actors.Count;
                                string comma = ",";
                            } 
                            @foreach(var a in item.Actors){
                                numActors--;
                                var actor = a.FirstName + " " + a.LastName;
                                <a href="?SearchTitle=&SelectedGenre=&SearchActor=@actor&SelectedYear=&UserId=&History=">@actor</a>@if(numActors > 0){@comma}
                            }
                            </p>
                            @if (item is MoviesVM && item.History != null)
                            {
                                @foreach (var mh in item.History)
                                {
                                    @if (mh.AccountID == Model.SelectedUser)
                                    {
                                        <p style="max-width: 500px;"><b>My rating: </b>@mh.Rating / 10</p>
                                        <p><form class="form-inline" asp-page-handler="Rate" method="post">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="update rating" name="newRating">
                                                </div>
                                                <input type="hidden" name="userId" value="@Model.SelectedUser" />
                                                <input type="hidden" name="mediumId" value="@mh.MediumID" />
                                                <button class="btn btn-primary" type="submit">rate</button>
                                            </form>
                                        </p>
                                    }
                                }
                            }
                            @if (item is MoviesVM)
                            {
                                <p style="position:absolute; bottom:10px;"><a href="?SearchTitle=&SelectedGenre=&SearchActor=&SelectedYear=@item.Year&UserId=&History=">@item.Year</a>
                                    &emsp;|&emsp;@item.Genre&emsp;|&emsp;@item.Runtime&emsp;|&emsp;@item.LanguageString&emsp;|&emsp;@item.Rating
                                </p>
                            } 
                            else 
                            {
                                <p style="position:absolute; bottom:10px;"><a href="?SearchTitle=&SelectedGenre=&SearchActor=&SelectedYear=@item.Year&UserId=&History=">@item.Year</a>
                                    &emsp;|&emsp;@item.Genre&emsp;|&emsp;@item.LanguageString&emsp;|&emsp;@item.Rating
                                </p> 
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">