@page
@model SearchModel
@using System.Text
@using System.Collections.Generic
@{
    ViewData["Title"] = "Search page";
}
<h2>Movies</h2>
<br />
    <form>
        <p>
            <i class="fas fa-search"></i>
            <input type="text" placeholder="movie" name="SearchString">
            <select asp-for="SelectGenre" asp-items="Model.Genres">
                <option value="">Genre</option>
            </select>
            <input type="text" placeholder="actor" name="SearchActor">
            <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <div class="row justify-content-between">
                <th scope="col" class="col-md-1"></th>
                <th scope="col" class="col-md-5"></th>
                <th scope="col" style="padding-left: 50px">Year</th>
                <th scope="col" class="">Runtime</th>
                <th scope="col" class="">Genre</th>
                </div>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movies) {
                <tr>
                    <td class="col-md-1">
                        <img src=@item.ImgPath alt="" height="200">
                    </td>
                    <td class="col-md-5">
                        <h4>@item.Title</h4>
                        <p>@item.Description</p>
                    </td>
                    <td style="padding-left: 50px">@item.Year</td>
                    <td >@item.Runtime</td>
                    <td >@item.Genre</td>
                </tr>
            }
        </tbody>
    </table>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">